<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soap.site.mapper.ColumnMapper">

    <select id="qryList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            a.columnId pcolumnId,
            a.columnName pcolumnName,
            a.columnLink pcolumnLink,
            a.images pcolumnImg,
            b.columnId scolumnId,
            b.columnName scolumnName,
            b.columnLink scolumnLink
        FROM (
            SELECT * FROM website_columns a WHERE a.columnParent IS NULL) a LEFT JOIN (
             SELECT * FROM website_columns b WHERE b.columnParent IS NOT null) b ON a.columnId = b.columnParent ORDER BY  a.columnSort DESC
    </select>

    <select id="qryColumns" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT columnId,columnName,columnLink,isJump,images FROM website_columns WHERE isDel = '0'
        <if test="columnId != null">
            AND columnParent = #{columnId}
        </if>
        <if test="columnId == null">
            AND columnParent IS NULL
        </if>
        ORDER BY columnSort ASC
    </select>

</mapper>