<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soap.site.mapper.ProductMapper">

    <select id="list" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            consulId,
            columnId,
            title,
            consuDesc,
            consuType,
            consuPlace,
            consuClass,
            images,
            consuLink,
            DATE_FORMAT(createTime,'%Y-%m-%d %H:%m:%s') AS createTime
        FROM consultation_info a WHERE columnId = #{columnId} AND isDel = '0' ORDER BY createTime DESC LIMIT #{startPos}, #{size}
    </select>

    <select id="detail" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT consulId,
            columnId,
            title,
            consuDesc,
            consuType,
            consuPlace,
            consuClass,
            images,
            context,
            consuLink FROM consultation_info WHERE consulId = #{consulId} AND isDel = '0'
    </select>

    <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT
        count(0) AS  count
        FROM consultation_info a WHERE columnId = #{columnId} AND isDel = '0'
    </select>

    <select id="columnDetail" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from website_columns where columnId =#{columnId}
    </select>

    <select id="qryConsulByColumnId" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT consulId,
            columnId,
            title,
            consuDesc,
            consuType,
            consuPlace,
            consuClass,
            images,
            context,
            consuLink FROM consultation_info WHERE columnId = #{columnId} AND isDel = '0'
        order by createTime desc limit 1
    </select>
</mapper>