<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>About</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <!-- Custom Theme files -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <meta name="referrer" content="no-referrer" />
    <script type="application/x-javascript">
        $(function(){
            $(".nav>li").hover(function(){
                $(this).children('ul').stop(true,true).show(300);
            },function(){
                $(this).children('ul').stop(true,true).hide(300);
            })
        })
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link th:href='@{/http://fonts.googleapis.com/css?family=Hind:400,300}' rel='stylesheet' type='text/css'>
    <link th:href='@{/http://fonts.googleapis.com/css?family=Aladin}' rel='stylesheet' type='text/css'>
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css" media="all">
    <script th:src="@{/js/wow.min.js}"></script>
    <script>
        new WOW().init();
    </script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<!--<div class="top-header">-->
    <!--<div class="container">-->
        <!--<div class="top-header-main">-->
            <!--<div class="col-md-4 top-social wow bounceInLeft" data-wow-delay="0.3s">-->
                <!--<ul>-->
                    <!--<li><h5>江苏黄海水泥有限公司，期待您的光临</h5></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-md-8 header-address wow bounceInRight" data-wow-delay="0.3s">-->
                <!--<ul>-->
                    <!--<li><span class="phone"> </span> <h6>0515-86397999</h6></li>-->
                    <!--<li><span class="email"> </span><h6>bgs@jshhsn.com</h6></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="header">
    <div class="fixed-header">
        <div class="navbar-wrapper">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.png}"/></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="navbar-wrapper" style="background-color: #333;padding-bottom: 0px">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <nav class="cl-effect-16" id="cl-effect-16">

                    <ul class="nav">
                        <li th:each="entries,stat:${columnList}">
                            <a th:href="@{${entries['columnLink']}}" th:if="${#lists.isEmpty(entries['childColumn'])}"   th:attr="data-hover=${entries['columnName']}">[[${entries['columnName']}]]</a>
                            <a th:if="${not #lists.isEmpty(entries['childColumn'])}"   th:attr="data-hover=${entries['columnName']}">[[${entries['columnName']}]]</a>
                            <ul class="sub-nav" th:if="${not #lists.isEmpty(entries['childColumn'])}">
                                <li class="float_left">
                                    <dl>
                                        <dd th:each="per,column:${entries['childColumn']}">
                                            <a th:href="@{${per['columnLink']}}" th:attr="data-hover=${per['columnName']}">[[${per['columnName']}]]</a>
                                        </dd>
                                    </dl>
                                    <!--<img  src="http://img.hb.aicdn.com/016cb81e2f98691f0be5438a831af3b4021461bd1ba1d-2vfji6_sq320">-->
                                    <img th:src="@{${entries['images']}}">
                                </li>

                            </ul>

                        </li>

                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="about-main">
            <div class="about-top">
                <h1>关于我们</h1>
            </div>
            <div class="about-bottom">
                <div class="col-md-5 about-left wow bounceInLeft" data-wow-delay="0.3s">
                    <img th:src="@{/images/a1.jpg}" alt="" class="img-responsive">
                </div>
                <div class="col-md-7 about-right wow bounceInRight" data-wow-delay="0.3s">
                    <h4>公司简历</h4>
                    <p>江苏黄海建材集团有限公司 诞生于2001年3月21日，历经十多年的发展，现有盐城市仁和建材科技有限公司、建湖县时代建材有限公司和建湖汇聚建设有限公司三个子公司。公司占地面积12万平方米，注册资金7718万元，固定资产8500万元，年销售超3亿元，是盐城市建材行业规模企业、盐城市建材行业十二五规划重点发展企业。 公司位于建湖县省级经济开发区南华工业园内天津路之首，东临231省道、南依黄沙港、西襟夹荡港、北枕329省道，距新长铁路建湖站2000米，地理位置优越，水陆交通便利。公司码头可停靠千吨级船只，可日装卸货物5000余吨。
                        　　公司主营水泥、商砼、矿粉、砂浆四类建材以及商砼减水剂、水泥助磨剂等辅材。目前拥有年产100万吨水泥粉磨线两条、年产40万方商砼生产线两条、年产30万吨矿粉生产线一条和年产60万吨砂浆生产线一条。拥有 3.2米X13米磨机2台、2000K式选粉机1台、商砼搅拌系统2套、砂浆搅拌系统1套、8嘴包装机1套、烘干机1台、除尘器20台、全自动吸灰系统2套、砂石分离机1台、装载机6台、吊机6台、各种规格泵车5台、商砼搅拌车20余辆等主要设备。
                        　　公司主营水泥、商砼、矿粉、砂浆四类建材以及商砼减水剂、水泥助磨剂等辅材。目前拥有年产100万吨水泥粉磨线两条、年产40万方商砼生产线两条、年产30万吨矿粉生产线一条和年产60万吨砂浆生产线一条。拥有 3.2米X13米磨机2台、2000K式选粉机1台、商砼搅拌系统2套、砂浆搅拌系统1套、8嘴包装机1套、烘干机1台、除尘器20台、全自动吸灰系统2套、砂石分离机1台、装载机6台、吊机6台、各种规格泵车5台、商砼搅拌车20余辆等主要设备。
                        　　公司在运用科技手段扩产增效的同时，积极倡导绿色发展理念，以先进技术推广新材料，助推建筑业环保发展。投入5000万元新建干粉砂浆生产线，有效缓解建筑工地粉尘大的矛盾；新投40多万元安装商砼砂石分离设备，在循环使用废水的同时实现废砂石回收利用。 公司现设服务网点100多个，遍布省内务市、县及乡镇。成立24小时电话服务中心，由专业工程师提供咨询释疑。公司承诺：对客户的投诉，市内24小时、市外48小时处理完毕。
                        　　"与城市同发展，与社会共和谐"，这既是公司基业长青的文化，更是公司勇于担当的责任。建湖县第十七届人大代表、江苏黄海建材集团有限公司董事长朱学仁真诚期待与社会各界精诚合作、谋求共赢，在互相了解、彼此沟通的中达成人生的共识，在互惠互利、携手共进中书写人生的篇章，用诚挚之心去创造美好的明天。
                    </p>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="copy-right">
    <div class="container">
        <div class="copy-rights-main wow zoomIn">
            <p>使用条款 | 隐私跳跃 | <a href="http://hhtj.in.8866.org:13456/SNAPSHOT-erp">办公系统</a> 版权所有（C） 江苏黄海建材集团有限公司 苏ICP备18048310号</p>
        </div>
    </div>
</div>
</body>

</html>