<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Contact</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <!-- Custom Theme files -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <meta name="referrer" content="no-referrer" />
    <script type="application/x-javascript">
        $(function(){
            $(".nav>li").hover(function(){
                $(this).children('ul').stop(true,true).show(300);
            },function(){
                $(this).children('ul').stop(true,true).hide(300);
            })
        })
        addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>

    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css" media="all">
    <script th:src="@{/js/wow.min.js}"></script>
    <script>
        new WOW().init();
    </script>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        function record() {
            var username = $('#username').val();
            var email = $('#email').val();
            var content = $('#content').val();
            console.info(username + email + content);
            $.ajax({
                url: '/site/contact/record',
                type: 'POST',
                data: {'username': username, 'email': email, 'content': content},
                dataType: 'json',
                success: function (data) {
                    alert("发送成功");
                    console.info("111111111111111")
                },
                error: function (data) {
                    console.info("22222222222222222222")
                }
            });
        }
    </script>
</head>
<body>
<!--<div class="top-header">-->
    <!--<div class="container">-->
        <!--<div class="top-header-main">-->
            <!--<div class="col-md-4 top-social wow bounceInLeft" data-wow-delay="0.3s">-->
                <!--<ul>-->
                    <!--<li><h5>江苏黄海水泥有限公司，期待您的光临</h5></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-md-8 header-address wow bounceInRight" data-wow-delay="0.3s">-->
                <!--<ul>-->
                    <!--<li><span class="phone"> </span> <h6>0515-86397999</h6></li>-->
                    <!--<li><span class="email"> </span><h6>bgs@jshhsn.com</h6></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="header">
    <div class="fixed-header">
        <div class="navbar-wrapper">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.png}"/></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="navbar-wrapper" style="background-color: #333;padding-bottom: 0px">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <nav class="cl-effect-16" id="cl-effect-16">

                    <ul class="nav">
                        <li th:each="entries,stat:${columnList}">
                            <a th:href="@{${entries['columnLink']}}" th:if="${#lists.isEmpty(entries['childColumn'])}"   th:attr="data-hover=${entries['columnName']}">[[${entries['columnName']}]]</a>
                            <a th:if="${not #lists.isEmpty(entries['childColumn'])}"   th:attr="data-hover=${entries['columnName']}">[[${entries['columnName']}]]</a>
                            <ul class="sub-nav" th:if="${not #lists.isEmpty(entries['childColumn'])}">
                                <li class="float_left">
                                    <dl>
                                        <dd th:each="per,column:${entries['childColumn']}">
                                            <a th:href="@{${per['columnLink']}}" th:attr="data-hover=${per['columnName']}">[[${per['columnName']}]]</a>
                                        </dd>
                                    </dl>
                                    <img th:src="@{${entries['images']}}">
                                </li>

                            </ul>

                        </li>

                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--header end here-->
<!--contact start here-->
<div class="contact">
    <div class="container">
        <div class="contact-main">
            <div class="contact-top">
                <h2>联系我们</h2>
            </div>
            <div class="contact-bottom">
                <div class="col-md-9 contact-left">
                    <form>
                        <input type="text" placeholder="用戶名" id="username">
                        <input type="text" class="email" placeholder="邮箱" id="email">
                        <textarea placeholder="Message" required="" id="content"></textarea>
                        <input type="submit" onclick="record()" value="发送">
                    </form>
                </div>
                <div class="col-md-3 contact-right">
                    <h1>地址</h1>
                    <p>江苏省盐城市</p>
                    <p>XXXXXXXXX路</p>
                    <p>13914720977</p>
                    <p><a href="mailto:info@example.com">42083122@qq.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="copy-right">
    <div class="container">
        <div class="copy-rights-main wow zoomIn">
            <p>使用条款 | 隐私跳跃 | <a href="http://hhtj.in.8866.org:13456/SNAPSHOT-erp">办公系统</a> 版权所有（C） 江苏黄海建筑集团有限公司 苏ICP备18048310号</p>
        </div>
    </div>
</div>
</body>
</html>