<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Rooms</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <!-- Custom Theme files -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
    <!--google fonts-->
    <!-- animated-css -->
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css" media="all">
    <script th:src="@{/js/wow.min.js}"></script>
    <script>
        new WOW().init();
    </script>
    <!-- animated-css -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="top-header">
    <div class="container">
        <div class="top-header-main">
            <div class="col-md-4 top-social wow bounceInLeft" data-wow-delay="0.3s">
                <ul>
                    <li><h5>江苏黄海水泥有限公司，期待您的光临</h5></li>
                </ul>
            </div>
            <div class="col-md-8 header-address wow bounceInRight" data-wow-delay="0.3s">
                <ul>
                    <li><span class="phone"> </span> <h6>0515-86397999</h6></li>
                    <li><span class="email"> </span><h6>bgs@jshhsn.com</h6></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="header">
    <div class="fixed-header">

        <div class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo wow slideInLeft">
                            <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.png}"/></a>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <nav class="cl-effect-16" id="cl-effect-16">
                            <ul class="nav navbar-nav" th:each="entries,stat:${columnList}">
                                <li><a th:href="@{${entries['columnLink']}}" th:attr="data-hover=${entries['columnName']}">[[${entries['columnName']}]]</a></li>
                            </ul>
                        </nav>

                    </div>
                    <div class="clearfix"></div>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--gallery start here-->
<div class="gallery" id="gallery">
    <div class="container">
        <div class="gallery-main wow zoomIn" data-wow-delay="0.3s">
            <div class="gallery-top">
                <h1>工程案例</h1>
            </div>
            <div class="gallery-bott">
                <div class="col-md-4 col1 gallery-grid" th:each="entries,product:${productList}">
                    <a th:href="@{/product/detail(consulId=${entries['consulId']})}" th:rel="@{${entries['consuDesc']}}" class="b-link-stripe b-animate-go  thickbox">
                        <figure class="effect-bubba">
                            <img class="img-responsive" th:src="@{${entries['images']}}" alt="">
                            <figcaption>
                                <h4 class="gal">[[${entries['title']}]]</h4>
                                <p class="gal1">[[${entries['consuDesc']}]]</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <!--<div class="col-md-4 col1 gallery-grid" th:each="">
                    <a th:href="@{images/r3.jpg}" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure class="effect-bubba">
                            <img class="img-responsive" th:src="@{images/r3.jpg}" alt="">
                            <figcaption>
                                <h4 class="gal"> 工程案例1</h4>
                                <p class="gal1">工程案例1介绍</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col1 gallery-grid">
                    <a href="images/r4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure class="effect-bubba">
                            <img class="img-responsive" th:src="@{images/r3.jpg}" alt="">
                            <figcaption>
                                <h4 class="gal"> 工程案例1</h4>
                                <p class="gal1">工程案例1介绍</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col1 gallery-grid">
                    <a href="images/r5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure class="effect-bubba">
                            <img class="img-responsive" th:src="@{images/r3.jpg}" alt="">
                            <figcaption>
                                <h4 class="gal"> 工程案例1</h4>
                                <p class="gal1">工程案例1介绍</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col1 gallery-grid">
                    <a href="images/r6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure class="effect-bubba">
                            <img class="img-responsive" th:src="@{images/r3.jpg}" alt="">
                            <figcaption>
                                <h4 class="gal"> 工程案例1</h4>
                                <p class="gal1">工程案例1介绍</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col1 gallery-grid">
                    <a href="images/r7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure class="effect-bubba">
                            <img class="img-responsive" src="images/r3.jpg" alt="">
                            <figcaption>
                                <h4 class="gal"> 工程案例1</h4>
                                <p class="gal1">工程案例1介绍</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col1 gallery-grid">
                    <a href="images/r8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure class="effect-bubba">
                            <img class="img-responsive" src="images/r3.jpg" alt="">
                            <figcaption>
                                <h4 class="gal"> 工程案例1</h4>
                                <p class="gal1">工程案例1介绍</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>-->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="copy-right">
    <div class="container">
        <div class="copy-rights-main wow zoomIn">
            <p>Copyright &copy; 2016.Company name All rights 地址：江苏省盐城市射阳县射阳港新材料产业园5栋</p>
        </div>
    </div>
</div>
</body>
</html>